.hello-kitty-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin: 0 3px;
}

.hello-kitty-svg {
  display: inline-block;
  vertical-align: middle;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

